@page "/Products"

<h3>Product</h3>

This is product page

<h1>Select your country</h1>


@*
To do: connect database to collect all the product data set
    <select>
        @foreach (var temp in Dataset)
        {
            <option></option>
        }
    </select>
*@



@code {

}
